<div class="row">
	<div class="large-12 columns">
		<h1><%= t 'everyone.header' %></h1>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h2>Make one for a friend!</h2>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<%= form_for(:countdown, :url => new_countdown_path) do |f| %>
			<%= f.submit "Let me make one!" %>
		<% end %>
	</div>
</div>

